<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>
<table>
    <tr>
        <td width="300px" style="border: 0px">
            {% for categ in categorii %}
                <a href="categorie/?id={{categorie.id}}">{{categ.name}}</a> <br />
            {% endfor %}
        </td>
        <td>
            {% for product in products %}
                <a href="http://127.0.0.1:8000/shop/{{product.id}}">{{product.name}}</a> </br>
            {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>